#logo{
	width: 600px;
}

body{
	background-color: #ccff99;
}

li{
	background-color: white;
	padding: 5px;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	width: 30%;
}
li img{
	width: 100%;
}