#logo{
	width: 600px;
}

body{
	background-color: #ccff99;
}

.park{
	background-color: white;
	padding: 5px;
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	width: 30%;
}
li img{
	width: 100%;
}

table, th, td {
	font-weight: normal;
    border: 1px solid black;
}

table, th{
	font-weight: bold;
}

.tablePic img{
	height: 80px;
	width: 80px;
}
.suggestion{
	color: blue;
}